.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.btn-ghost {
    border: 1px solid #ccc;
    color: #333;
    background-color: #fff;
}

.danger {
    background-color: #ff2c39;
}